@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');


.quicksand-font {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
*{
    margin: 0;
    padding: 0;
    
}
body{
    width: 100% auto;
    
}
/* share item */
.flex{
    display: flex;
}

/* start nav */
.navbar{
    max-width: 1300px;
    
    justify-content: space-between;
    align-items: center;
    padding: px 0px;
}
.logo{
    align-items: center;
    justify-content: center;
}
.menu li{
    list-style: none;
    
    padding: 0px 30px;
}
.menu a{
    text-decoration: none;
    color: black;
    font-weight: 600;
    font-size: 25px;
}
.btn{
    font-size: 20px;
    font-weight: 600;
    background: #fea301;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
}
.side-btn{
    height: 8px;
    width: 35px;
    background-color: #fea301;
    border-radius: 3px;
    
}
.side-btn-cont{
    flex-direction: column;
    gap: 6px;
    display: none;
}
/* start banner */
.banner-container{
    max-width: 1300px;
    margin: 0px auto;
    justify-content: space-between;
    align-items: center;
}
.title{
    font-size: 3.25rem;
    font-weight: 700px;
}
.start{
    color:#fea301;
}
.end{
    color:#01acfd;
}
.description{
    padding: 24px 0px;
}
.container{
    width: 700px;
}
.btn-2{
    font-size: 20px;
    font-weight: 600;
    color: white;
    background-color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
}
/* start main cart */
section{
    justify-content: center;
    background: url(assets/bg.png);
}
.cart-container{
    background-image: url(assets/bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    margin: 60px 0px;
}
.container-title{
    text-align: center;
    font-size: 2.5rem;
    font-weight: 700;
    padding: 50px 0px;
    color: black;
}
.carts{
    justify-content: center;
    gap: 90px;
}
.cart{
    height: 350px;
    width: 300px;
    background: linear-gradient(180.00deg, rgb(222, 245, 255),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
    padding: 50px 30px;
    border-radius: 10px;
    justify-items: center;
    text-align: center;
    
}
.cart-title{
    font-size: 1.75rem;
    font-weight: 600;
    padding-bottom: 15px;
}
.rmb{
    margin-top: 30px;
    font-size: 1rem;
    font-weight: 600;
    background: none;
    border: none;
}
.aro {
    text-align: center;
    margin: 50px 0px;
    
}
.aro button{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: none;
    font-size: 20px;
    font-weight: 700;
    background-color: #fea301;
    color: white;
}
/* start stories */
.stories{
    background-image: url(assets/bg.png),linear-gradient(0.00deg, rgba(254, 163, 1, 0.3),rgba(255, 255, 255, 0.3) 100%);;
    background-repeat: no-repeat;
    background-size: cover;
}
.story-container{
    gap: 50px;
    justify-content: center;
    
}

.col-left{
    background-color: wheat;
    color: black;
    border: none;
    border-radius: 10px;
}
.col-left img{
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.story-title{
    font-size: 20px;
    font-weight: 600;
    padding: 25px 0px;
}
.col-left-btn{
    font-size: 1rem;
    font-weight: 600;
    padding: 15px 30px;
    border-radius: 25px;
    border: none;
    position: absolute;
    margin-left: -500px;
    margin-top: 310px;
    background-color:#01acfd;
}
.st-cont{
    padding: 20px;
    
}
.col-left>img{
    width: 100%;
    
}
.story-description{
    width: 500px;
}
.col-right{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 30px;
    
}
.short-story{
    background-color: #efd8d8;
    height: 300px;
    border-radius: 10px;
    color: black;
}
.short-story h4{
    padding: 20px;
}
.col-right img{
    border: none;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.col-right-btn{
    padding: 15px 30px;
    font-size: 15px;
    font-weight: 600;
    border-radius: 20px;
    border: none;
    position: absolute;
    margin-top: -30px;
    margin-left: 25px;
    background-color: green;
}
.view-btn{
    padding: 30px 0px;
    justify-content: center;
}
.st-btn{
    padding: 15px 30px ;
    font-size: 20px;
    font-weight: 600;
    border-radius: 8px;
    border: none;
    background-color: black;
    color: white;
}
/* fotter */
footer{
    display: grid;
    grid-template-columns: 350px 250px 250px;
    justify-content: space-around;
    padding: 110px 0px 100px 0px;
    background: #01acfd;
    width: 100%;
}
.logo{
    justify-content: flex-start;
    padding-bottom: 25px;
    align-items: center;
}
.footer-container{
    width: 100%;
}
.footer-li{
    list-style: none;
    padding-bottom: 20px;
}
.footer-li a{
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    color: black;
}
.footer-ul{
    flex-direction: column;
}
.footer-logo{
    padding-top: 20px;
}

@media screen and (max-width:576px) {
    
    .name,
    .menu,
    .btn{
        display: none;
    }
    .side-btn-cont{
        display:block;
    }
    .side-btn{
        margin-bottom: 10px;
        
    }
    .navbar{
        
        border-bottom: 1px solid #fea301;
        
    }
    /* start banner */
    .banner-container{
        flex-direction: column-reverse;
        width: 100%;
        padding: 0px 10px;
        justify-items: center;
        width: 100%;
        
    }
    main{
        margin: 0px auto;
    }
    .container,
    .title,
    .description,
    .hero>img{
        width: 100%;
        text-align: center;
    }
    .title{
        font-size: 2rem;
        
    }
    /* cart section */
    .carts{
        flex-direction: column;
        gap: 20px;
        justify-content: center;
        align-items: center;
    }
    .cart{
        width: 80%;
        padding: 20px 10px;
        height: auto;
        
    }
    .cart-container{
        align-items: center;
        
    }
    .container-title{
        font-size: 1.5rem;
        text-align: center;
    }
    .aro{
        display: none;
    }
    /* story */
    .col-left{
        display: none;
    }
    .col-right{
        padding: 0px;
        grid-template-columns: repeat(2,1fr);
        gap: 5px;
        justify-content: center;
        align-items: center;
    }
    .short-story img{
        width: 100%;
    }
    .col-right-btn{
        padding: 8px 15px;
        font-size: 12px;
        margin-left: 5px;
        
    }
    /* footer */
    footer{
        grid-template-columns: repeat(1,1fr);
        gap: 20px;
        width: 100%;
    }
    .footer-container{
        padding: 20px;
    }
    .footer-description{
        width: 90%;
    }
}