@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');


.quicksand-font {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
*{
    margin: 0;
    padding: 0;
}
/* share item */
.flex{
    display: flex;
}

/* start nav */
.navbar{
    max-width: 1300px;
    margin: 0px auto;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px;
}
.logo{
    align-items: center;
    justify-content: center;
}
.menu li{
    list-style: none;
    
    padding: 0px 30px;
}
.menu a{
    text-decoration: none;
    color: black;
    font-weight: 600;
    font-size: 25px;
}
.btn{
    font-size: 20px;
    font-weight: 600;
    background: #fea301;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
}
.side-btn{
    height: 8px;
    width: 35px;
    background-color: #fea301;
    border-radius: 3px;
    
}
.side-btn-cont{
    flex-direction: column;
    gap: 6px;
    display: none;
}
/* start banner */
.banner-container{
    max-width: 1300px;
    margin: 0px auto;
    justify-content: space-between;
    align-items: center;
}
.title{
    font-size: 3.25rem;
    font-weight: 700px;
}
.start{
    color:#fea301;
}
.end{
    color:#01acfd;
}
.description{
    padding: 24px 0px;
}
.container{
    width: 700px;
}
.btn-2{
    font-size: 20px;
    font-weight: 600;
    color: white;
    background-color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
}
/* start main cart */
.cart-container{
    background-image: url(assets/bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    margin: 60px 0px;
}
.container-title{
    text-align: center;
    font-size: 2.5rem;
    font-weight: 700;
    padding: 50px 0px;
    color: black;
}
.carts{
    justify-content: center;
    gap: 90px;
}
.cart{
    height: 350px;
    width: 300px;
    background-color: aqua;
    padding: 50px 30px;
    border-radius: 10px;
    justify-items: center;
    text-align: center;
    
}
.cart-title{
    font-size: 1.75rem;
    font-weight: 600;
    padding-bottom: 15px;
}
.rmb{
    margin-top: 30px;
    font-size: 1rem;
    font-weight: 600;
    background: none;
    border: none;
}
.aro {
    text-align: center;
    margin: 50px 0px;
    
}
.aro button{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: none;
    font-size: 20px;
    font-weight: 700;
    background-color: #fea301;
    color: white;
}

@media screen and (max-width:576px) {
    
    .name,
    .menu,
    .btn{
        display: none;
    }
    .side-btn-cont{
        display:block;
    }
    .side-btn{
        margin-bottom: 10px;
        
    }
    .navbar{
        padding: 12px 16px;
        border-bottom: 1px solid #fea301;
        width: 100%;
    }
    /* start banner */
    .banner-container{
        flex-direction: column-reverse;
        width: 100%;
        padding: 0px 10px;
        justify-items: center;
        width: 100%;
        
    }
    .container,
    .title,
    .description,
    .hero>img{
        width: 100%;
        text-align: center;
    }
    .title{
        font-size: 2rem;
        
    }
    /* cart section */
    section{
        margin: 20px auto;
    }
    .carts{
        flex-direction: column;
        justify-content: center;
        gap: 10px;
        
        
    }
    .cart{
        margin: 0px 15px;
        
    }
    .container-title{
        font-size: 1.5rem;
    }
    .aro{
        display: none;
    }
}